

.container{
    
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*-wrap: wrap;*/
    gap:20px;
    flex-flow: column wrap;
    padding-top: 55px;
    
}

.body{
    
    background: url('assets/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(1.5px);
    /*filter:blur(100px);*/
    
}

.container_profile_pic{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 300px;
    border-radius: 10px;
    /*flex-flow: column wrap;*/
    
}

.profile_pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 25px;
    border-radius: 300px;
    width: 200px;
    height: 200px;
}



.profile_pic img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 300px;
}

.profile_pic img:hover{
    transform: scale(1.15);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: transform .5s ease;
}

.skills{
    
    width:600px;
    height: 160px;
    /*border-radius: 10px;*/
    border: 2px black solid;
    margin-top: 20px;
    border-radius: 10px;
}

.skills:hover{
    transform: scale(1.15);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: transform .5s ease;
    background-color: #B0B0B0;
    font-weight: bold;

    
}

.skills h4{
    margin-left: 25px;
    
}



/*skills ul{
    margin-left: 
    25px; color: black;
}

skills ul:hover{
    color: white;
}*/
.lists{    
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-left: 16px;
}

.social_media_links{
    display: flex;
    width:600px;
    height: 60px;
    /*border-radius: 10px;*/
    border: 2px black solid;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    flex-direction: row; 
    
}

.social_media_links img{
    width: 40px; height: 40px;
    margin-top: 10px;
}

.social_media_links:hover{
    transform: scale(1.15);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: transform .5s ease;
    background-color: #B0B0B0;
    font-weight: bold;
}

.social_media_links p{
    margin-top: 20px;
    margin-left: 5px;
}


